<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Love Quiz - 25th Anniversary</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <script src="/static/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
